<html lang="en">


<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum hic possimus nemo id dolor at minus suscipit
      delectus ab aliquam.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum hic possimus nemo id dolor at minus suscipit
      delectus ab aliquam.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum hic possimus nemo id dolor at minus suscipit
      delectus ab aliquam.</p>
  </div>

  <%- include('./partials/footer.ejs') %>
</body>

</html>